* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #032222;
}

.navbar{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1.2rem 3.2rem;
    border-radius: 40px;
    margin-bottom: 50px;
    height: 150px;
    width: 100%;
}

.container {
    margin-left: 50px;
}


.container-form {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: auto;
    background-color: #222831;
    border-radius: 15px;
    margin-top: 150px;
}


.form-font {
    color: #91B0DD;
}

.form-input {
    background-color: #3e3636;
    border: none;
}

.cadastro {
    border: none;
    margin-left: 40%;
    margin-bottom: 20px;
    color: #91B0DD;
}
 
.contatos {
    display: flex;
    flex-direction: column;
}