* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-image: url(../imagens/Back.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top left;
}


.link-navegacao {
    color: #6e3b3b;
    font-size: 22px;
    text-decoration: none;
}


.link-navegacao:hover {
    color: #be6a15;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1.2rem 3.2rem;
    border-radius: 40px;
}


.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1.2rem 3.2rem;
    border-radius: 40px;
}


.navbar2 {
    display: flex;
    padding-left: 70px;
    gap: 33%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.dotour {
    width: 250px;
    padding-left: 60px;
}

/* Aqui termina a parte do header */


/* Aqui começa a main */
.container-home {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 50px;
        justify-content: space-evenly;  
        background-color: rgba(0, 0, 0, 10%);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 1.2rem 3.2rem;
}


.container-home2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 50px;
    justify-content: space-evenly;  
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1.2rem 3.2rem;
}

.texto {
    margin: 200px 50px 20px 50px;
    color: #6e3b3b;
}


/* Aqui vai ficar os possiveis cards */
.destino-alta {
    background-color: #f5c16c;
    margin: 20px;
    border-radius: 10px;
}


.txt-card {
    color:#6e3b3b ;
}


.rodape {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}


.link-rodape {
    color: #6e3b3b;
    text-decoration: none;
}