* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/Green\ 1.svg);
    background-repeat: no-repeat;
    background-color: #032222;
    background-size: cover;
    background-position: top;
    background-attachment: scroll;

}


.link-navegacao {
    color: #FFF2E7;
    font-size: 22px;
}

.link-navegacao:hover {
    color: #EBD000;
    font-size: 24px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1.2rem 3.2rem;
    border-radius: 40px;
}

.logo-site {
    width: 156px;
    margin-left: 14px;
}


.frase-efeito {
    color: #FFF2E7;
}

.navbar {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1.2rem 3.2rem;
    border-radius: 40px;

}

.container-fluid {
    padding-left: 70px;
    gap: 33%;
    margin-top: 40px;
    margin-bottom: 50px;
}



.conteudo-inicial {
    width: 100%;
    display: flex;
    margin-top: 70px;
    margin-bottom: 70px;
    justify-content: space-evenly;

}
/* AQUI ACABA O HEADER */


/* AQUI COMEÇA A MAIN COM TODOS OS CONTEÚDOS */
.container-principal {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.container-principal .caixa {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 35px;
    background-size: cover;
    transition: .5s;
    cursor: pointer;
}

.container-principal .caixa:hover {
    scale: 1.2;
    transition: .5s;
}

.container-principal .caixa::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: cover;
    filter: blur(25px);
    opacity: 0.5;
    z-index: 1;
    transition: .2s;
}

.container-principal .caixa:hover::before {
    opacity: 0;
    transition: .2s;
}


article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    width: 85%;
    margin-top: 150px;
}

.titulo {
    color: #FFF2E7;

}

.paragrafo {
    color: #FFF2E7;
    font-size: 22px;
    text-align: justify;

}



/* RODAPÉ DA PÁGINA */
.rodape {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 10px;
}

.link-rodape {
    text-decoration: none;
    color: #FFF2E7;
}